mixin reviewForm(review = {})
    if (user)
        form.reviewer(action=`/api/review/${store._id}` method="POST")
            textarea(name="text" placeholder="Did you try this place? Have something to say? Leave a Review...")
            .reviewer__meta
                .reviewer__stars
                    input(type="hidden" name="store" value=store._id)
                    each num in [5,4,3,2,1]
                        input(id=`star${num}` name="rating" value=num type="radio" required)
                        label(for=`star${num}`) #{num} Stars
                input(type="submit" value="Submit Review →" class="button")
    else
        p.love  Love this place? <a href="/login">Login</a> to leave a review!